* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
/* common */
.flex-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.sp-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.JSstart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.primary {
  color: #3c4043;
}

/* header */
header {
  height: 20vh;
}
.left {
  padding: 10px 28px 0px;
}
.list ul {
  padding: 0px 20px;
}
.list ul li {
  padding: 8px 40px 8px 5px;
  list-style-type: none;
  font-weight: 300;
}
.list ul li:last-child {
  color: #386ad7;
  font-weight: 500;
  border-bottom: 3px solid #386ad7;
}
span {
  /* color: #3c4043; */
  font-size: 125%;
  padding-left: 2px;
  font-weight: 400;
}
img {
  height: 40px;
  width: 80px;
  object-fit: contain;
}
.right {
    padding-right: 30px;
}
.fas,
.account{
    padding: 10px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-align: center;
}
.fas{
    color: #3c4043;
    padding: 6px;
}
.account{
    border: 1px solid rgb(253, 247, 247);
    background-color: green;
    color: white;
    font-size: 90%;
}
.fas:hover{
    background-color:rgb(253, 247, 247);
    cursor: pointer;
}
.account:hover{
    padding: 10px;
    height: 33px;
    width: 33px;
    border: 3px solid lightgray;
    cursor: pointer;
}

/* main */
main {
    padding-top: 50px;
  width: 75%;
  margin: 0 auto;
}
/* Dynamic part */
p {
  padding: 10px 5px;
  line-height: 1.5em;
  font-size: 90%;
}
.question {
  color: #3c4043;
  font-size: 160%;
  line-height: 1.4rem;
}
.marg-par,
ol,
li{
  padding: 0px 10px 15px;
  line-height: 1.5em;
}
.letter{
    list-style-type: lower-alpha;
}
.blue {
  color: #386ad7;
  font-size: 100%;
}
.blue:hover {
  cursor: pointer;
}

/* footer */
footer {
  background-color: #f5f5f5;
  height: 6vh;
}
.footer {
  width: 75%;
  margin: 0 auto;
}
.ft-right i {
  color: #4bb5f8;
}
.ft-left ul {
  padding-right: 20px;
}
.ft-left ul li {
  padding: 10px 5px;
  list-style-type: none;
  font-size: 70%;
  color: #8c9092;
}
.ft-right {
  width: 73%;
  display: flex;
  justify-content: flex-end;
}
select {
  width: 170px;
}
